.u-block-e172-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e172-3 {
  position: absolute;
  left: 0;
  padding: 10px;
}

.u-block-e172-4 {
  position: absolute;
  right: 0;
  padding: 10px;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/viajar-muito.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 99px 319px 0 auto;
}

.u-section-1-1 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 256px 0 auto;
}

.u-section-1-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 59px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-1-1 .u-text-3 {
    width: 837px;
    margin-left: 103px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 196px;
  }

  .u-section-1-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 151px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 147px;
  }

  .u-section-1-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 33px;
    margin-right: 95px;
  }

  .u-section-1-1 .u-text-2 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-1-1 .u-text-3 {
    width: 340px;
    margin-top: -6px;
    margin-bottom: 0;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/viajar-muito.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 99px 319px 0 auto;
}

.u-section-1-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 293px 0 auto;
}

.u-section-1-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 59px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-1-2 .u-text-3 {
    width: 837px;
    margin-left: 103px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 224px;
  }

  .u-section-1-2 .u-text-3 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 151px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 3rem;
    margin-right: 168px;
  }

  .u-section-1-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1-2 .u-text-3 {
    width: 340px;
    margin-top: 39px;
    margin-bottom: 9px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/viajar-muito.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 99px 319px 0 auto;
}

.u-section-1-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 293px 0 auto;
}

.u-section-1-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 59px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-1-3 .u-text-3 {
    width: 837px;
    margin-left: 103px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 201px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 224px;
  }

  .u-section-1-3 .u-text-3 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    margin-right: 151px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 3rem;
    margin-right: 168px;
  }

  .u-section-1-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1-3 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1-3 .u-text-3 {
    width: 340px;
    margin-top: 39px;
    margin-bottom: 9px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/viajar-muito.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 99px 316px 0 auto;
}

.u-section-1-4 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 293px 0 auto;
}

.u-section-1-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 59px 60px 244px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-1-4 .u-text-3 {
    width: 837px;
    margin-left: 103px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-1-4 .u-text-2 {
    margin-right: 224px;
  }

  .u-section-1-4 .u-text-3 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-4 .u-text-1 {
    margin-right: 150px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 3rem;
    margin-right: 168px;
  }

  .u-section-1-4 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 39px;
    margin-right: auto;
    margin-left: 58px;
  }

  .u-section-1-4 .u-text-2 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-1-4 .u-text-3 {
    width: 340px;
    margin-top: 39px;
    margin-bottom: 9px;
  }
}