 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0 388px;
}

.u-section-1 .u-image-1 {
  width: 72px;
  height: 72px;
  margin: -55px auto 0 299px;
}

.u-section-1 .u-image-2 {
  width: 72px;
  height: 72px;
  margin: -72px 345px 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 250px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 706px;
  min-height: 250px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 31px 40px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 9px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 250px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 706px;
  min-height: 250px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 13px 10px 2px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 25px 40px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 15px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 250px;
  margin: 0 auto 23px 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 706px;
  min-height: 250px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 2px 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-family: Poppins;
  font-size: 1.875rem;
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 31px 40px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 9px auto 0 20px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 320px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 245px;
  }

  .u-section-1 .u-group-4 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 184px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: -80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 268px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -356px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -356px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }
}