 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 343px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0 331px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 55px auto 60px 432px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 273px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 26px;
    margin-left: auto;
  }
}